<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Professional Services</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Microsoft 공인 강사가 진행하는 Azure AI, Copilot Studio, M365 Copilot 교육 서비스</p>
      </div>
      <div class="col-lg-4">
        <p>이다스터디 - 엔드 유저(end-user)를 위한 Power BI 교육 서비스</p>
      </div>
    </div>
  </div>
</section>
